/* About.css */
.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(175, 7, 69);
  background: linear-gradient(
    0deg,
    rgba(175, 7, 69, 1) 0%,
    rgba(133, 0, 0, 1) 50%,
    rgba(175, 7, 69, 1) 100%
  );
  transition: 1s;
}

.about p {
  color: #ffffff;
  text-align: center;
  margin-right: 60px;
  font-size: 20px;
}

.about div {
  width: 50%;
  text-align: center;
}

.about img {
  width: 60%;
}

.divp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.276);
}

@media screen and (max-width: 600px) {
  /* About.css */
  .about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgb(175, 7, 69);
    background: linear-gradient(
      0deg,
      rgba(175, 7, 69, 1) 0%,
      rgba(133, 0, 0, 1) 50%,
      rgba(175, 7, 69, 1) 100%
    );
  }

  .about p {
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
    width: 100%;
  }
}

/* ------------------------------------------------------- */

.about-dark {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(50, 50, 50);
  background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(10, 10, 10, 1) 50%,
    rgba(50, 50, 50, 1) 100%
  );
  transition: 1s;
}

.about-dark p {
  color: #ffffff;
  text-align: center;
  margin-right: 60px;
  font-size: 20px;
}

.about-dark div {
  width: 50%;
  text-align: center;
}

.about-dark img {
  width: 60%;
}




@media screen and (max-width: 600px) {
  /* About.css */
  .about-dark {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgb(50, 50, 50);
    background: linear-gradient(
      0deg,
      rgba(50, 50, 50, 1) 0%,
      rgba(10, 10, 10, 1) 50%,
      rgba(50, 50, 50, 1) 100%
    );
  }

  .about-dark p {
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
    width: 100%;
  }
}