.div-pai-carousel {
  width: 80%;
  margin: 0 auto;

  border-radius: 20px;
}

.main-carousel {
  max-height: 700px;
  border-radius: 20px;
}

.carousel-item {
  max-height: 700px;
  border-radius: 20px;
}

.carousel-img {
  width: 100%;
  height: 100%;
  border: 5px solid #af0745;
  border-radius: 20px;
  border-style: groove;
}

.h5-carro{
  color: #af0745;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.276);

  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
 
  .carousel-img {
    width: 100%;
    height: 150px;
    border: 3px solid #af0745;
    border-radius: 20px;
    border-style: groove;
  }

  .h5-carro{
    color: #af0745;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.276);
  
    margin-bottom: 30px;
  }
 
}



/* ----------------------------------------------- */



.carousel-img-dark {
  width: 100%;
  height: 100%;
  border: 10px solid #09ff00;
  border-radius: 20px;
  border-style: groove;
}

